@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Connect 4</h1>
    <p>Press "game" in the menu bar to start a new game.</p>
    <p>Change connect 4 board size in the "settings".</p>
    <p>Games save automatically. Load the under "Saved Games".</p>
</div>
