@page
@model WebApp.Pages.Comments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Comment.CommentId" />
            <div class="form-group">
                <label asp-for="Comment.CommentText" class="control-label"></label>
                <input asp-for="Comment.CommentText" class="form-control" />
                <span asp-validation-for="Comment.CommentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment.BookId" class="control-label"></label>
                <select asp-for="Comment.BookId" class="form-control" asp-items="Model.BookSelectList"></select>
                <span asp-validation-for="Comment.BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
